/*アコーディオンの最大幅*/
.accordion-005 {
    max-width: 700px;
}

/*アコーディオンが閉じている状態の時の行と行の間の数値*/
.accordion-005:not([open]) {
    margin-bottom: 7px;
}

/*タイトル*/
.accordion-005 summary {
    display: flex;
    justify-content: space-between;/*タイトル内の要素を左右に均等に配置*/
    align-items: center;
    position: relative;/*タイトル内の要素を相対位置で配置*/
    padding: 1em 2em;/*タイトルの内側に上下1em、左右2emのパディングを追加します。*/
    border-left: 5px solid #2589d0;
    background-color: #f2f2f2;
    color: #333333;
    font-weight: 600;
    cursor: pointer;/*タイトルにマウスカーソルを合わせたときにポインターを表示し、クリックできるようにする*/
}

/*マーカー（通常は三角形の矢印）を非表示にする*/
.accordion-005 summary::webkit-details-marker {
    display: none;
}

/*疑似要素でカスタムの矢印を作成*/
.accordion-005 summary::before,
.accordion-005 summary::after {
    width: 3px;
    height: 15px;
    border-radius: 5px;/*疑似要素の角*/
    background-color: #c2c2c2;/*議事要素の背景色*/
    content: '';/*疑似要素を画面に表示するための「おまじない」*/
}

/*::before要素を右側に配置し、90度回転させて横向きの棒として表示*/
.accordion-005 summary::before {
    position: absolute;
    right: 2em;
    rotate: 90deg;
}

.accordion-005 summary::after {
    transition: rotate.3s;
}

/*アコーディオンが開いているときに、::after要素を90度回転させて、矢印の向きを変える*/
.accordion-005[open] summary::after {
    rotate: 90deg;
}

.accordion-005 p {
    transform: translateY(-10px);
    opacity: 0;/*初期状態では内容を上に10ピクセル移動させ、透明にする*/
    margin: 0;
    padding: 1em 2em 2em 2em;
    color: #333333;
    transition: transform .5s, opacity .5s;/*0.5sかけてtransformとopacityを行う*/
}

.accordion-005[open] p {
    transform: none;/*アコーディオンが開いたときに、<p>要素に適用されていたtransform: translateY(-10px);（要素を上方向に10ピクセル移動させる）を解除*/
    opacity: 1;/*このコードがないと文字が表示されない。アコーディオンが開いたときに、<p>要素に適用されていたopacity: 0;（要素を完全に透明にする）を解除し、要素を表示*/
}

.qa_block {
    display: flex;
    flex-direction: column;
    max-width: 400px;
    height: auto;
}

.qa_item {
    display: inline-block;
}

.qa_head {
    position: relative;
    text-align: left;
    padding: 20px 30px 20px 20px;
    border-radius: 8px 8px 0 0;
    background: lightblue;
    color: black;
    cursor: pointer;
    width: 100%;
    font-size: 12px;
}

.qa_body {
    position: relative;
    border-radius: 0 0 8px 8px;
    background: #ffffff;
    color: black;
    border: 1px solid lightblue;
    padding: 20px;
    height: auto;
    font-size: 12px;
}

.qa_head:after {
    content:"";
    border-top: 1px solid black;
    border-left: 1px solid black;
    display: inline-block;
    width: 10px;
    height: 10px;
    transform: rotate(-135deg) translateY(9px);
    position: absolute;
    right: 50px;
    top: 50%;
    transition: transform .4s;
}

.qa_body {
    position: relative;
    border-radius: 0 0 8px 8px;
    background: #ffffff;
    color: black;
    border: transparent;
    padding: 0 20px; /*上下のpaddingを非表示の状態にする*/
    line-height: 0; /*非表示、0*/
    opacity: 0; /*非表示、0*/
    transition: line-height 0.4s, padding 0.4s, opacity 0.4s;
}

.qa_body.is-open {
    padding: 20px;
    line-height: 1.5;
    opacity: 1;
    border: 1px solid lightblue;
}

.qa_head.is-open::after {
    transform: rotate(45deg) translateY(-10px);
}

.qa_item:not(:first-child) {
    margin-top: 16px;
}

/*モーダルウィンドウ*/
.layer {
    background: rgba(0, 0, 0, .2);
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
    opacity: 0;
    visibility: hidden;
    transition: opacity 1s linear, visibility 1s linear, z-index 1s linear;
  }
  
  .layer.is-open {
    z-index: 999;
    opacity: 1;
    visibility: visible;
  }
  
  .layer.is-open .modal{
    opacity: 1;
    visibility: visible;
  }
  
  .modal_button-wrap {
    position: absolute;
    right: 10px;
    top: -28px;
    display: inline-flex;
  }
  
  .close-button {
    position: relative;
    width: 39px;
    height: 39px;
    background: orange;
    border-radius: 50%;
    padding: 0;
    border: transparent;
    cursor: pointer;
  }
  
  .close-button span {
    width: 25px;
    height: 2px;
    background: #fff;
    display: inline-block;
    position: absolute;
    left: calc(50% - 12px);
    top: 50%;
    border-radius: 20px;
  }
  
  .close-button span:nth-child(1) {
    transform: rotate(45deg) translate(-1px, -1px);
  }
  
  .close-button span:nth-child(2) {
    transform: rotate(-45deg) translate(1px, -1px);
  }
  
  .modal {
    position: relative;
    margin-right: auto;
    margin-left: auto;
    width: 80%;
    min-width: 440px;
    opacity: 0;
    visibility: hidden;
    transition:  visibility .7s linear, opacity .7s linear;
  }
  
  .modal_inner {
    margin-top: 125px;
    margin-bottom: 125px;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    background: #fff;
    box-shadow: 3px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 13px;
    display: block;
    padding: 21px 8px 21px;
    height: auto;
  }
  
  .modal_content {
    padding-top: 15px;
    padding-bottom: 23px;
  }
  

  .modal_button-area {
    max-width: 843px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 17px;
    padding-top: 15px;
  }
  
  
  .button {
    background: orange;
    border-radius: 12px;
    border: 1px solid orange;
    font-size: 16px;
    line-height: 1.6;
    display: block;
    padding: 12px 20px;
    color: #fff;
    text-align: center;
    cursor: pointer;
    margin: 0;
  }
  